node_modules/
.next/
.env.local

# Firebase
.firebase/hosting.*
# Environment
.env
.env.*
# OS
.DS_Store
Thumbs.db
# IDE
.idea/
.vscode/
# Logs
*.log
# Cache
.cache/
.parcel-cache/
# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*seed-developer.mjs
.fcc/